@model IEnumerable<BarsTest.Models.Delivery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateDelivery)
        </th>

        <th>
            @Html.DisplayNameFor(model=>model.Item)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Supp)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Supp)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DateDelivery)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
